body{
	margin:0px;
	padding:0px;
	color: #313534;
	font-weight:300;
	background:#eee url(pageimages/3-layers.png) no-repeat bottom center;
	background-attachment: fixed;
	font-size:16px;
}
body.home{
	background-color:#fff;
}

a{
	text-decoration:none;
	color:#009688;
}
ol, ul{
	padding-left:20px;
}
ul li{
	list-style-type: square;
	margin-bottom: 5px;
}
.text-center{
	text-align:center;
}

.heading{
	font-size:30px;
	font-weight:400;
    text-align: center;
}

*{box-sizing:border-box;}

.height-1,
.size-1 {
  height: 40px;
}
.height-2,
.size-2 {
  height: 80px;
}
.height-3,
.size-3 {
  height: 120px;
}
.height-4,
.size-4 {
  height: 160px;
}
.height-5,
.size-5 {
  height: 200px;
}
.height-6,
.size-6 {
  height: 240px;
}
.height-7,
.size-7 {
  height: 280px;
}
.height-8,
.size-8 {
  height: 320px;
}
.height-9,
.size-9 {
  height: 360px;
}
.height-10,
.size-10 {
  height: 400px;
}
.height-11,
.size-11 {
  height: 440px;
}
.height-12,
.size-12 {
  height: 480px;
}
.width-1,
.size-1 {
  width: 40px;
}
.width-2,
.size-2 {
  width: 80px;
}
.width-3,
.size-3 {
  width: 120px;
}
.width-4,
.size-4 {
  width: 160px;
}
.width-5,
.size-5 {
  width: 200px;
}
.width-6,
.size-6 {
  width: 240px;
}
.width-7,
.size-7 {
  width: 280px;
}
.width-8,
.size-8 {
  width: 320px;
}
.width-9,
.size-9 {
  width: 360px;
}
.width-10,
.size-10 {
  width: 400px;
}
.width-11,
.size-11 {
  width: 440px;
}
.width-12,
.size-12 {
  width: 480px;
}
.auto-width {
  width: auto;
}

.no-padding {
  padding: 0 !important;
}
.force-padding {
  padding: 24px;
}
.large-padding {
  padding: 48px;
}
.small-padding {
  padding: 12px;
}
.no-y-padding {
  padding: 0 24px;
}
.no-side-padding {
  padding: 24px 0;
}
.no-top-padding {
  padding: 0px 24px 24px 24px !important;
}

.mtop80{margin-top:80px;}
.mtop100{margin-top:100px;}
.mbot40{margin-bottom:40px;}
.mbot100{margin-bottom:100px;}
.mbot200{margin-bottom:200px;}
.sidenav {
	  font-size: 16px;
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 50px;
    overflow: hidden;
    cursor: default;
    color: #D9D9D9;
    background: #2B323A;
    overflow-x: hidden;
    overflow-y: auto;
    -moz-transition: width ease-in-out 0.28s, background linear 0.1s;
    -webkit-transition: width ease-in-out 0.28s, background linear 0.1s;
    -o-transition: width ease-in-out 0.28s, background linear 0.1s;
    transition: width ease-in-out 0.28s, background linear 0.1s;
    -ms-transform: translate(0px, 0);
    -moz-transform: translate(0px, 0);
    -webkit-transform: translate3d(0px, 0, 0);
    transform: translate(0px, 0);
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    -webkit-font-smoothing: subpixel-antialiased;
}

.sidenav:hover{
	width:200px;
}
.sidenav a{
	color: #ffffff;
    line-height: 35px;
    font-size: 14px;
    font-weight: 300;
}
.sidenav-logo{
	margin: 16px auto 38px;
  overflow: hidden;
  height: 49px;
  width:44px;
  
}
.sidenav-logo img{
	float:right;
}
body.sidebar_open .sidenav-logo{
	margin: 16px auto 38px;
	margin-bottom:15px;
	height:71px;
	width:160px;
	-moz-transition: width ease-in-out 0.28s, background linear 0.1s;
    -webkit-transition: width ease-in-out 0.28s, background linear 0.1s;
    -o-transition: width ease-in-out 0.28s, background linear 0.1s;
    transition: width ease-in-out 0.28s, background linear 0.1s;
}

.sidenav ul{
	padding:0px;
	float:left;
	width:100%;
	margin:0px;
	border-top: #4d4d4d 1px solid;
}
.sidenav ul.top-menu{
	margin-bottom:100px;
}
.sidenav ul li{ 
	list-style:none;
	white-space:nowrap;
	clear:both;
	border-bottom: #4d4d4d 1px solid;
	float:left;
	width:100%;
	margin:0px;
}
.sidenav ul li.active{
	background:#140f0f;
}
.sidenav ul li.active a{color:#fff;}
.sidenav ul i{
	font-size:16px;
	width:50px;
	height:16px;
	text-align:center;
	display:inline-block;
}
.sidenav ul li span{display:none;}
body.sidebar_open .sidenav ul li span{display:inline-block;}
.sidenav h3{visibility:hidden; margin-bottom: 10px; clear: both; padding: 0 15px;}
body.sidebar_open .sidenav h3{visibility:visible;}

@media screen and (max-height: 670px) and (min-width: 740px) {
  .side-nav li a {
    line-height: 35px;
    font-size: 16px;
  }
  .side-nav .icon {
    top: 0px;
  }
}
.page{
	float:left;
	width:100%;
	padding-left:50px;
	-webkit-transition: all 0.28s ease;
	-moz-transition: all 0.28s ease;
	-ms-transition: all 0.28s ease;
	-o-transition: all 0.28s ease;
	transition: all 0.28s ease;
}
body.sidebar_open .page{
	padding-left:200px;
}
.content-area{
	padding:20px 100px;
	max-width:1000px;
	margin:auto;
}

p.home{
	font-size: 16px;
  line-height: 1.6;
}

.card {
    position: relative;
    margin-bottom: 24px;
    background-color: #ffffff;
    color: #313534;
    border-radius: 2px;
    -webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.33);
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.33);
}
.card-head {
    position: relative;
    line-height: 52px;
    min-height: 56px;
    vertical-align: middle;
    border-radius: 2px 2px 0 0;
    font-weight:500;
}
.card-head:before, .card-head:after {
    content: " ";
    display: table;
}
.card-head:after {
    clear: both;
}
.card-head header {
    display: inline-block;
    padding: 11px 24px;
    vertical-align: middle;
    line-height: 17px;
    font-size: 20px;
}
.card-body {
    padding: 24px;
    position: relative;
}
.card-underline .card-head {
    /* border-bottom: 1px solid rgba(150, 156, 156, 0.4); */
    background-color: #009688;
    color: #fff;
}
.btn,
.btn-lg{border-radius:0px;}
.modal-content{border-radius:0px;}
.modal-title{font-weight:700;}

.btn{font-size:16px;}

.modal-header{
	background-color:#eee;
}
.card ul li{
	list-style:none;
}
.card ul li:before{
  content: "\f0da";
  font-family:'FontAwesome';
  position:absolute;
  margin-left:-15px;
}
#patientModal .modal-dialog,
#healthproModal .modal-dialog{
	width:900px;
}
#patientModal .nav-tabs,
#healthproModal .nav-tabs{background-color:#f5f5f5;}
#patientModal .nav-tabs > li,
#healthproModal .nav-tabs > li{text-align:center;}
#patientModal .nav-tabs > li i,
#healthproModal .nav-tabs > li i{font-size:20px; color: #de1111;}
.nav-tabs>li>a{border-radius:0px;}
/**** Popup effect *****/
.modal{	
	
}
/* Effect 6: side fall */
.modal .modal-dialog {
	-webkit-perspective: 1300px;
	-moz-perspective: 1300px;
	perspective: 1300px;
}

.modal .modal-content {
	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	transform-style: preserve-3d;
	-webkit-transform: translate(30%) translateZ(600px) rotate(10deg); 
	-moz-transform: translate(30%) translateZ(600px) rotate(10deg);
	-ms-transform: translate(30%) translateZ(600px) rotate(10deg);
	transform: translate(30%) translateZ(600px) rotate(10deg); 
	opacity: 0;
}

.modal.in .modal-content {
	-webkit-transition: all 0.3s ease-in;
	-moz-transition: all 0.3s ease-in;
	transition: all 0.3s ease-in;
	-webkit-transform: translate(0%) translateZ(0) rotate(0deg);
	-moz-transform: translate(0%) translateZ(0) rotate(0deg);
	-ms-transform: translate(0%) translateZ(0) rotate(0deg);
	transform: translate(0%) translateZ(0) rotate(0deg);
	opacity: 1;
}

.team-page .content-area{
	max-width:1100px;
}

.team-page .content-area h1{
	color: #FF3307;
}

.team-page .content-area h3{
	font-size: 16px;
}

.team-era .card h3{margin-top:0px; color: #009688;}
.team-era .card p{font-size:15px;}
.team-era .card h4 a{color:#aaa; margin-right:3px;}
.team-era .card h4 i{font-size:20px;}
.team-era .card h5{margin-top:0px; font-style:italic;}
.team-era .card img{margin-right:15px;}
.row.team-era{margin:0 -7px;}
.row.team-era .col-md-4,
.row.team-era .col-md-6{padding-left:7px; padding-right:7px;}

.footer-content{
   text-align: center;
    font-size: 12px;
    border-top: #ddd 1px solid;
    padding: 25px 0;
    margin: 0px;
    width: 100%;
}
.footer-content p{
	margin:0px;
}
.add-contact-add {	
    background-color: #f2f2f2;
    margin-top: 10px;
    margin-right: -5px;
    padding: 25px 0;
	font-size:15px;
	height:448px;
}
.contact-page .content-area h1{
	color: #009688;
	font-weight:500;
}
.add-contact-add dd {
	margin-bottom:25px;
}
.add-contact-add dt {
	font-weight:500;
	color:#009688;
}
.add-contact-add a {
	color:#313534;
}
.contact-page .content-area {
	font-size:15px;
	padding:20px 20px;
    margin-top: 100px;
}
.contact-page .note p {
	margin-bottom:25px;
}
#contact-form label {
	font-size:14px;
	font-weight:500;
}
#contact-form label .required {
	color:red;
}
#contact-form .col-md-12 {
	padding-top:10px;
}
#contact-form .form-control {
	border:none;
	background-color:#f1f1f1;
	resize:none;
}
#contact-form .submit-row {
	text-align:right;
	margin-bottom:20px;
}
.section-contact-left {
	padding:0 30px;
}

/* ==========================================================================
Media Queries
========================================================================== */

@media screen and (min-width: 768px) and (max-width: 1024px) {
	.add-contact-add {
		margin-right:0;
		margin-bottom:10px;
	}
	.contact-page .content-area {
		padding:20px 50px;
	}
	
	#patientModal .modal-dialog, #healthproModal .modal-dialog {
		max-width:900px;
		width:auto;
	}
	#patientModal .modal-dialog img, #healthproModal .modal-dialog img {
		max-width:100%;
		height:auto;
	}
	.nav > li > a {
		padding:10px 14px;
	}
}

@media screen and (max-width: 767px) {
body {
	background-position:top center;
}
.h1, h1 {
	font-size:25px;
}	
.content-area {
	max-width:100%;
}
.content-area {
	padding:20px 0px;
}
.contact-page .content-area {
	margin-top:0;
	padding:20px;
}	
.page {
	padding-left:60px;
	padding-right:10px;
	overflow:hidden;
}
.add-contact-add {
	margin-bottom:10px;
	margin-top:10px;
	height:auto;
}
.section-contact-left {
	padding:0 20px;
}
.card {
	height:auto;
}
.team-era .card img {
    float: none !important;
    margin: 0 auto;
}
.team-member {
	padding-bottom:10px;
}
.content-area img {
	max-width:100%;
	height:auto;
}
.sidenav:hover{
	width:170px;
}
body.sidebar_open .page{
	padding-left:170px;
}
.mtop100 {
    margin-top: 10px;
}
.height-4, .size-4 {
	height:auto;
}
.heading {
	font-size:22px;
}
#patientModal .modal-dialog, #healthproModal .modal-dialog {
	max-width:900px;
	width:auto;
}
#patientModal .modal-dialog img, #healthproModal .modal-dialog img {
	max-width:100%;
	height:auto;
}
#patientModal .nav-tabs > li, #healthproModal .nav-tabs > li {
	float:none;
}
	
} 

@media screen and (max-width: 500px) {
	
}
 
@media screen and (max-width: 330px) {
	
	
}


