body{
    background:#fafafa!important;
}

a{
  color:#315062;
  text-decoration:underline;
}

a:hover{
  text-decoration:none;
}

  header{
    padding-left:0!important;
    padding-right:0!important;
  }

.navbar-header{
    padding-top:0!important;
}

.nav-wrapper, .page-cancer-search .nav-wrapper{
    background: #48859C!important;
    box-shadow: 0 3px 3px #bfbfbf;
  margin-bottom:80px;
}

.navbar-brand{
  margin-left:0!important;
  padding-left:0!important;
  text-decoration:none;
  color:#fff!important;
  font-size:25px!important;
  padding-top:0!important;
  height:auto!important;
}

.navbar-brand img{
    height:81px;
}

.navbar-collapse{
  padding-right:0!important;
  width:70%;
  float: right;
}


input#edit-combine{
    border:0;
    border-radius:4px;
}

#edit-submit-cancer-search{
    border-radius:0 4px 4px 0;
    margin-left:-4px;
    background:none;
    border-color:transparent;
  font-size:14px;
  font-weight:bold;
  color:#B7E0FE;
}

#edit-submit-cancer-search:hover{
    transition:all .2s linear;
    cursor:pointer;
  color:#fff;
}

#desease-browse-link{
    color:#B7E0FE!important;
    font-weight:bold;
}

#desease-browse-link:hover{
    color:#fff!important;
  text-decoration:none!important;
}

.front-content{
  padding-top:0;
  margin:0;
}


.main-container{
    padding:15px;
    background:#fff;
    border-radius:4px;
    box-shadow:1px 1px 2px rgba(0,0,0,.3);
    margin-bottom:45px;
  max-width:1140px!important;
}

.main-container h2, .card.definition > h3{
  margin-top:0;
  font-size:27px;
  padding-bottom:15px;
  margin-bottom:15px;
  position:relative;
}

.main-container h2:after, .card .definition > h3:after{
  position:absolute;
  bottom:0;
  left:0;
  width:90px;
  height:1px;
  background:#00a8ff;
  content:"";
}

.main-container p{
  color:rgba(0,0,0,.5);
  line-height:1.75;
}

footer{
  border:0!important;
  background:#232323;
}

footer p{
  color:#fff;
  margin:5px 0!important;
  padding:0;
}

footer a{
  color:#00A8FF;
  text-decoration:underline;
  margin:0px 1px;
}

footer a:hover{
  text-decoration:none;
}

.modal-content .modal-header{
  background:#48859C;
}

.plugin_video object{
  width:100%;
}

.main-container > .row{
  margin:0;
}

.card.definition{
  padding:0;
  margin:0 0 30px 0;
  box-shadow:none;
}

div.page-title{
  font-weight:normal;
  text-transform:uppercase;
  letter-spacing:1px;
  font-size:21px;
  color:#38DE8A;
  margin:0px;
  padding:0!important;
}

.custom-vertical-tabs-list.card.no-padding.style-primary{
  background:#48859C;
}

.custom-vertical-tabs-list > li > a{
  font-size:14px;
  padding:5px 8px 5px 20px;
  text-decoration:none;
}

.custom-vertical-tabs-list > li > a:hover{
    text-decoration:underline;
}

.custom-vertical-tabs-list > li a span{
  margin-left:0;
}

.related-cancer-box.card.card-noheight h2{
  font-size:18px;
  padding:10px;
  margin-bottom:0;
  background:#2C393E;
}

.related-cancer-box.card.card-noheight h2:after{
  display:none;
}


.custom-vertical-tabs-list > li > ul{
  padding-left:15px;
}

.custom-vertical-tabs-list > li.active > a{
    background:none;
    color:#bbb;
}

#block-views-exp-cancer-search-page input.form-text, #edit-combine{
    width:240px!important;
  	padding-left:10px;
    padding-right:10px;
}

#cabinet-links{
  float:right;
}

nav.navigation, nav.navigation > div{
    width:100%;
}

.navbar-collapse:after, nav.navigation:after, nav.navigation > div:after{
    clear:both;
    display:block;
    content:"";
}

#cabinet-links a{
  display:inline-block;
  height:35px;
  border-radius:3px;
  background:#fff;
  text-decoration:none;
  line-height:35px;
  padding:0px 25px;
  box-shadow:1px 1px 0px rgba(0,0,0,.1);
  margin:0 4px;
}

#cabinet-links a.login_button{
    background:#FF9800;
    color:#fff;
}


#cabinet-links a.signup_button{
       color:#444;
    background:#eee;
}

#cabinet-links a:hover{
    background: #232323;
    color: #fff;
}

.views-row{
    margin-bottom:30px;
}

.main-header{
    margin-bottom: 30px;
}

#block-views-exp-cancer-search-page input.form-text{
    width:240px!important;
}

#navbar.navbar.container, .page-cancer-search #navbar.navbar.container{
    height:88px!important;
}

table, tbody{
  width:100%;
}

td{
  padding:8px;
  color:rgba(0, 0, 0, 0.5);
  line-height:1.75;
  vertical-align:top;
}


.custom-vertical-tabs-list.card.no-padding.style-primary > li{
  padding-left:30px;
}

.custom-vertical-tabs-list.card.no-padding.style-primary > li:nth-child(1){
background:url("../imgs/cd-left-menu-details-white.png") 10px 7px no-repeat;
}

.custom-vertical-tabs-list.card.no-padding.style-primary > li:nth-child(2){
background:url("../imgs/cd-left-menu-2.png") 10px 7px no-repeat;
}

.custom-vertical-tabs-list.card.no-padding.style-primary > li:nth-child(3){
background:url("../imgs/cd-left-menu-3.png") 10px 7px no-repeat;
}

.custom-vertical-tabs-list.card.no-padding.style-primary > li:nth-child(4){
background:url("../imgs/cd-left-menu-4.png") 10px 7px no-repeat;
}

.custom-vertical-tabs-list.card.no-padding.style-primary > li:nth-child(5){
background:url("../imgs/cd-left-menu-5.png") 10px 7px no-repeat;
}

.custom-vertical-tabs-list.card.no-padding.style-primary > li:nth-child(7){
background:url("../imgs/cd-left-menu-6.png") 10px 7px no-repeat;
}

.custom-vertical-tabs-list.card.no-padding.style-primary > li:nth-child(8){
background:url("../imgs/cd-left-menu-7.png") 10px 7px no-repeat;
}

.main-container h2.headingCenter::after{left:50%; margin-left:-45px;}

#headImage{
    height:450px;
    background:url("../imgs/headimage.jpg") center no-repeat;
    background-size:cover;
    position:relative;
    z-index:5;
    margin-bottom:45px;
}
#headImage::before {
    background: rgba(0, 0, 0, 0.6) none repeat scroll 0 0;
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}
#headImage .container{
    height:100%;
    position:relative;
    width: auto;
}

.headTable{
    display:table;
    width:100%;
    height:100%;
    align-items: center;
}

.headTable > div{
    display:table-cell;
    vertical-align:middle;
    text-align:center;
}

.headTable h1{
    color:#fff;
    text-shadow: 0px 0px 4px rgba(0,0,0,.4);
    margin-bottom:30px;
}

.headTable .btns a{
    display:inline-block;
    height:35px;
    line-height:35px;
    padding:0px 25px;
    border-radius:3px;
    margin:0px 5px;
    text-decoration:none;
    color:#444;
    background:#eee;
}

.headTable .btns a:hover{
    color:#fff;
    background:#232323;
}

.joinBtn{
    position:absolute;
    float:left;
    height:35px;
    line-height:35px;
    padding:0px 25px;
    border-radius:3px;
    bottom:-18px;
    left:50%;
    width:120px;
    margin-left:-60px;
    background:#8bc34a;
    color:#fff;
    text-decoration:none;
}

.joinBtn:hover{
    background:#232323;
    color:#fff;
}

#blocks{
    margin-bottom:45px;
}

#blocks h2{
    text-align:center;
    margin-bottom:30px;
    font-weight:normal;
    font-size:32px;
}

#blocks h4{
    font-size:21px;
    color:#333;
    font-weight:normal;
    text-align:center;
    margin-bottom:15px;
}
.oportunity {
    text-align: center;
    color: #182730;
    margin-top: 15px;
    margin-bottom: 15px;
}

.oportunity-pic > div {
    display: table;
    width: 80px;
    height: 80px;
    background: #182730;
    border-radius: 80px;
    margin: 0 auto;
}
.oportunity-pic > div > div {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

.oportunity-pic {
    text-align: center;
    margin-bottom: 15px;
}

.oportunity * {
    color: #182730;
}
#blocks p{
    text-align:center;
    line-height:1.4;
}

@media screen and (max-width:992px){
    .navbar-header, .navbar-collapse{
        width:100%;
        float:none;
        padding:0px 15px!important;
    }
    
  #navbar.navbar.container, .page-cancer-search #navbar.navbar.container{
    height:auto!important;
  }
  
  .navbar-header{
    margin-bottom:15px;
  }

}
#headerSearch input[type='text'] { color: #888!important; width: 320px; height: 32px; border-radius: 3px; border: 0; padding: 0 10px; } #headerSearch input[type='text']::-webkit-input-placeholder { color: #888!important; } #headerSearch input[type='text']:-moz-placeholder { color: #888; } #headerSearch input[type='text']::-moz-placeholder { color: #888; } #headerSearch input[type='text']:-ms-input-placeholder { color: #888; }
@media screen and (max-width:780px){
  .main-container .column{
    width:100%!important;
  }
  
  .main-container .column:not(:last-child){
    margin-bottom:30px;
  }
    
      
  #navbar.navbar.container section, .page-cancer-search #navbar.navbar.container section{
    display:inline-block!important;
    vertical-align:top
  }

    .views-exposed-widget.views-widget-filter-field_institution_tid{
        display:block;
        float:none!important;
    }
    
    #pub-paginator, .page-title{
        width:100%;
    }
    
    .navbar-header, .navbar-collapse{
        padding:0!important;
        margin:0!important;
    }
    
    #block-cancerinfo-custom-browse-cancer-list{
        display:block;
        width:100%;
        margin-bottom:15px;
    }
    
    #cabinet-links{
        width:100%;
    }
    
    header{
        padding-bottom:15px;
    }

}