
<link rel="stylesheet" type="text/css" href="/static/css/about_so.css"/>
<ul class="about-so">
  <li class="li"> 
    <h3>Concierge Care</h3>
    <div>First, we assign a trained doctor/nurse to handle your case. This personal Care Team member will be with you each step of the way to ensure that you receive the best care possible.</div>
  </li>
  <li class="li"> 
    <h3>Distinguished Network</h3>
    <div>Next, we recommend doctors best fit for your case, which are selected from our esteemed network of world-renowned U.S. medical specialists that cover over 120 subspecialties!</div>
  </li>
  <li class="li"> 
    <h3>Virtual Consults</h3>
    <div>Once you have selected your doctor, we schedule a video or phone consultation giving you direct access to the best doctors available, no matter where you are.Once you have selected your doctor, we schedule a video or phone consultation giving you direct access to the best doctors available, no matter where you are.</div>
  </li>
  <li class="li"> 
    <h3>Medical Records</h3>
    <div>We then help retrieve your medical records and provide them to your chosen specialist ahead of time, so that you get the most from your consultation.</div>
  </li>
  <li class="li"> 
    <h3>TimeFrame</h3>
    <div> 
      <p>
         
        The timeframe for rendering your online medical second opinion is typically 3 - 5 business days.
        Our triage nurses are meticulous at document preparation for the physician rendering the
        second opinion since this is a key piece in making sure that the most comprehensive report is
        provided to the patient making the second opinion request to Hygeiais. 
      </p>
      <p>The timeframe may be delayed by a few days when any of the following circumstances apply: </p>
      <ul>
        <li>If a pathology review is required for your second opinion</li>
        <li>
           
          If the specialty physician required to complete your second opinion is not available at
          the time of your request or you have requested a specific physician to complete the 
          second opinion and they are not currently available (note: the most appropriate
          physician specialist will be determined by our medical team)
        </li>
        <li>
           
          Some complicated cases may benefit from our multi-specialty group and institute
          based model of medical practice. For cases in which multiple specialists may need to
          collaborate, an additional few days may be required.
        </li>
        <li>Weekends and holidays are not included in the 3-5 day timeframe; strictly business days</li>
      </ul>
      <p>
         
        Our goal is to deliver a comprehensive second opinion to you so you can make an informed
        decision about your health or the health of a loved one. In the event there will be any delay in
        rendering your online second opinion, you will be contacted by the Hygeiais team. 
      </p>
      <p><b>Please Note:  </b>If you send materials from outside the U.S., it typically takes three to five days for
        them to reach our office so please factor delivery time onto the turnaround time.
      </p>
    </div>
  </li>
  <li class="li">
    <h3>Notes & Referrals</h3>
    <div>
       
      Once your consultation is completed, you will receive written notes from the doctor. 
      We also offer referrals for top local doctors who accept your insurance and top institutions that are best equipped to carry out your treatment.
    </div>
  </li>
</ul>