{% extends "base.html" %}
{% block content %}
<header id="page-header" role="banner"></header>
<div class="row">
    <section class="col-sm-12">
        <a id="main-content"></a>
        <!--<h1 class="page-header"></h1>-->
        <div class="region region-content">
            <section class="block block-system clearfix" id="block-system-main">
                <div typeof="foaf:Document" about="/content/home-page" class="node node-page node--page--full clearfix" id="node-199">
                    <span class="rdf-meta element-hidden" content="Home Page" property="dc:title"></span>
                    <span class="rdf-meta element-hidden" datatype="xsd:integer" content="0" property="sioc:num_replies"></span>
                    <div class="content"></div>

  
  
</div>

</section> <!-- /.block -->
<section class="block block-block clearfix" id="block-block-1">
    <div class="row front-content">
        <div class="col-md-6">
            <img style="max-width:100%" src="/sites/default/files/coming_video.png" alt="Video Coming"></div>
<div class="col-md-6">
<h2>Hygeiais makes navigating your health easy.</h2>
<p>Nunc sagittis ornare lacus. Suspendisse varius dapibus feugiat. Duis convallis metus dui, vitae lobortis elit rutrum vel. Etiam dui ipsum, consequat at eleifend et, euismod ac mauris. Etiam sed faucibus lacus. Suspendisse eget dapibus felis. Aliquam vehicula eleifend est vel tristique. Aliquam non ipsum tellus. Nam cursus arcu vitae ullamcorper placerat. Nullam a quam eu sapien fringilla feugiat. Nullam dictum ante sed mi scelerisque porttitor sit amet et orci. Vivamus interdum ipsum a dapibus viverra.</p>
</div>
</div>

</section> <!-- /.block -->
  </div>
    </section>

    
  </div>
{% endblock content %}
