<div id="modalContent" class="modal deseases-modal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content modal-content-d3">
        <div class="modal-header">
            <button aria-hidden="true" data-dismiss="modal" class="close" type="button">×</button>
            <h4 class="modal-title" id="modal-title">List of Cancers{{ dlist }}</h4>
        </div>
       <div class="modal-body"></div>
    </div>
  </div>
</div>
<link rel="stylesheet" type="text/css" href="/static/css/d3modal.css"/>
<script src="/static/jss/d3/d3.min.js" charset="utf-8"></script>
<script type="text/javascript" src="/static/jss/d3modal.js"></script>
