  <!--<script src="http://dev-cancerinfohub.pantheon.io/sites/all/modules/contrib/jquery_update/replace/jquery/1.7/jquery.min.js?v=1.7.1"></script>
<script src="http://dev-cancerinfohub.pantheon.io/misc/jquery.once.js?v=1.2"></script>
<script src="http://dev-cancerinfohub.pantheon.io/misc/drupal.js?nw94ic"></script>
<script src="http://dev-cancerinfohub.pantheon.io/sites/all/modules/contrib/jquery_update/replace/ui/external/jquery.cookie.js?v=67fb34f6a866c40d0570"></script>
<script src="http://dev-cancerinfohub.pantheon.io/sites/all/modules/contrib/jquery_update/replace/misc/jquery.form.min.js?v=2.69"></script>
<script src="http://dev-cancerinfohub.pantheon.io/sites/all/modules/accordions/accordions.js?v=1.0"></script>
<script src="http://dev-cancerinfohub.pantheon.io/misc/form.js?v=7.39"></script>
<script src="http://dev-cancerinfohub.pantheon.io/misc/ajax.js?v=7.39"></script>
<script src="http://dev-cancerinfohub.pantheon.io/sites/all/modules/contrib/jquery_update/js/jquery_update.js?v=0.0.1"></script>
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.2/js/bootstrap.min.js"></script>
<script src="http://dev-cancerinfohub.pantheon.io/sites/all/themes/bootstrap/js/misc/_progress.js?v=7.39"></script>
<script src="http://dev-cancerinfohub.pantheon.io/sites/all/modules/contrib/ctools/js/modal.js?nw94ic"></script>
<script src="http://dev-cancerinfohub.pantheon.io/sites/all/libraries/colorbox/jquery.colorbox-min.js?nw94ic"></script>
<script src="http://dev-cancerinfohub.pantheon.io/sites/all/modules/colorbox/js/colorbox.js?nw94ic"></script>
<script src="http://dev-cancerinfohub.pantheon.io/sites/all/modules/colorbox/styles/stockholmsyndrome/colorbox_style.js?nw94ic"></script>
<script src="http://dev-cancerinfohub.pantheon.io/sites/all/modules/colorbox/js/colorbox_load.js?nw94ic"></script>
<script src="http://dev-cancerinfohub.pantheon.io/sites/all/modules/floating_block/floating_block.js?nw94ic"></script>
<script src="http://dev-cancerinfohub.pantheon.io/sites/all/modules/contrib/lightbox2/js/lightbox.js?1445282117"></script>
<script src="http://dev-cancerinfohub.pantheon.io/sites/all/modules/modal_forms/js/modal_forms_popup.js?nw94ic"></script>
<script src="http://dev-cancerinfohub.pantheon.io/misc/collapse.js?v=7.39"></script>
<script src="http://dev-cancerinfohub.pantheon.io/sites/all/modules/colorbox_node/colorbox_node.js?nw94ic"></script>
<script src="http://dev-cancerinfohub.pantheon.io/sites/all/themes/cancerinfo/js/script.js?nw94ic"></script>
<script src="http://dev-cancerinfohub.pantheon.io/sites/all/themes/cancerinfo/js/nci-util.js?nw94ic"></script>
<script src="http://dev-cancerinfohub.pantheon.io/sites/all/themes/cancerinfo/js/Enlarge.js?nw94ic"></script>
<script src="http://dev-cancerinfohub.pantheon.io/sites/all/themes/cancerinfo/js/PDQCIS.js?nw94ic"></script>
<script src="http://dev-cancerinfohub.pantheon.io/sites/all/themes/bootstrap/js/misc/ajax.js?nw94ic"></script>
<script src="http://dev-cancerinfohub.pantheon.io/sites/all/themes/bootstrap/js/modules/ctools/js/modal.js?nw94ic"></script>-->
<script type="text/javascript" src="{{ STATIC_URL}}jss/1.11.3/jquery.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL}}/bootstrap/3.1.1/js/bootstrap.min.js"></script>
<!--<script type="text/javascript" src="{{ STATIC_URL}}jss/browse_deseases.js"></script>-->
<script type="text/javascript" src="{{ STATIC_URL}}jss/treatment_sections.js"></script>
