<!-- /.block -->
<section class="block block-views clearfix" id="block-views-exp-cancer-search-page">
    <form
    accept-charset="UTF-8"
    id="views-exposed-form-cancer-search-page"
    method="get"
    action="/search/">
        <div>
            <div class="views-exposed-form">
                <div class="views-exposed-widgets clearfix">
                    <div class="views-exposed-widget views-widget-filter-combine" id="edit-combine-wrapper">
                        <div class="views-widget">
                            <div class="form-type-textfield form-item-combine form-item form-group">
                                <input
                                type="text"
                                maxlength="128"
                                size="30"
                                value=""
                                name="_trg" 
                                id="edit-combine"
                                class="form-control form-text"
                                placeholder="Search condition eg. Leiomyosarcoma"
                                style="display: none;" />
                            </div>
                        </div>
                    </div>
                    <!--#<div class="views-exposed-widget views-submit-button">
                        <button
                        type="submit"
                        value="&lt;i class=&quot;fa fa-search&quot;&gt;&lt;/i&gt;"
                        name=""
                        id="edit-submit-cancer-search"
                        class="cancer-search-button btn btn-primary form-submit">
                            Search
                        </button>
                    </div>#-->
                </div>
            </div>
        </div>
    </form>
</section>
<!--#<script type="text/javascript" src="/static/jss/search_form.js"></script>#-->
<!-- /.block -->
