<style> 
.top-menu > li > a{
	text-decoration: none;
	padding-left:13px;
}
</style>
<ul class="top-menu">
	{% block menu_for_model %}
	
	{% endblock %}

	<li>
	<a href="/library/" class="">
		<i class="fa fa-book ng-scope" style="height:24px; width:24px;font-size: 1.6em; padding:1px;"></i>
		<span>Library</span> 
	</a>
	</li>

	<li>
	<a href="/logout/" class="">
		<i class="fa fa-sign-out" style="height:24px; width:24px;font-size: 1.6em; padding:3px;"></i>
		<span>Logout</span> 
	</a>
	</li>

	<li>
	<a href="/about/" class="">
		<i class="fa fa-info-circle ng-scope" style="height:24px; width:24px;font-size: 1.6em; padding:1px;"></i>
		<span>About</span>
	</a>
	</li>

	<li>
	<a href="/team/" class="">
		<i class="fa fa-users ng-scope" style="height:24px; width:24px;font-size: 1.3em; padding:1px;"></i>
		<span>Team</span>
	</a>
	</li>
	<li>
	<a href="/contact/" class="">
		<i class="fa fa-phone-square ng-scope" style="height:24px; width:24px;font-size: 1.3em; padding:1px;"></i>
		<span>Contact	</span>
	</a>
	</li>
</ul>

